.narrow-container {
    max-width: 60%; 
    margin: 0 auto;
}

.indent-first {
    text-indent: 2rem;
}

img {
    width: 35%;
    height: auto;
    justify-content: center;
    border: 6px solid rgb(101, 156, 110);
}

h2 {
    text-align: center;
}